{% load static %}
<footer>
    <section>
        <div class="container" style="background-color: #e9f7fa">
            <div class="row">
                <div class="col-md-3">
                    <h3>
                        Конкуренты:
                        <h3>
                            ☺ ☺ ☺ ☺ ☺
                        </h3>
                    </h3>
                </div>
                <div class="col-md-3">
                    <a href="https://www.onliner.by/" target="_blank"><img class="img-fluid rounded" src="{% static 'img/onliner_logo.png' %}"></a>
                </div>
                <div class="col-md-3">
                    <a href="https://www.tut.by/" target="_blank"><img class="img-fluid rounded" src="{% static 'img/tut_logo.png' %}"></a>
                </div>
                <div class="col-md-3">
                    <a href="https://ria.ru/" target="_blank"><img class="img-fluid rounded" src="{% static 'img/ria_logo.jpg' %}"></a>
                </div>
            </div>
        </div>
    </section>
</footer>