{% load static %}
<footer>
    <section>
        <div class="container" style="background-color: #e9f7fa">
            <div class="row">
                <div class="col-md-3">
                    <h3>
                        Конкуренты:
                        <h3>
                            ☺ ☺ ☺ ☺ ☺
                            <p></p>
                            ☻ ☻ ☻ ☻ ☻
                        </h3>
                    </h3>
                </div>
                <div class="col-md-3">
                    <a href="https://www.gismeteo.by" target="_blank"><img class="img-fluid rounded" src="{% static 'img/gis.jpg' %}"></a>
                </div>
                <div class="col-md-3">
                    <a href="https://www.accuweather.com/en/world-weather" target="_blank"><img class="img-fluid rounded" src="{% static 'img/accu.png' %}"></a>
                </div>
                <div class="col-md-3">
                    <a href="https://world-weather.ru/pogoda/belarus/minsk/" target="_blank"><img class="img-fluid rounded" src="{% static 'img/world.jpg' %}"></a>
                </div>
            </div>
        </div>
    </div>
    </section>
</footer>